body{
    background-image: url(https://byucougars.com/imgproxy/_mV8pKuqwgifu2-KJ0KiJf1uZrM9WspMgCzrp7r59xk/rs:fit:1980:0:0:0/g:ce:0:0/q:90/aHR0cHM6Ly9zdG9yYWdlLmdvb2dsZWFwaXMuY29tL2J5dWNvdWdhcnMtcHJvZC8yMDIzLzEwLzIyL3JyWTl2RFNBY0JkaXlWUEZ2dm1pZzhsdDRseUZsOFEwS05KZmpxaGMuanBn.jpg);
    background-size: cover ;
    font-family: cursive;
    color: black;

}

h1{
    text-align: center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    color: #002E5D;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top{
    text-decoration: none;
    color:black;
}

.common {
    border: 2px solid black;
    position: absolute;

}
.header {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px ;
    text-align: right;
    border: none;
     
}

.main{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    top: 115px;
    left: 15px;
    right: 740px;   
    min-height: 537px;
    z-index: 3
}
.right {
    top: 97px;
    right: 15px;
    width: 700px;   
    height: fit-content;
    text-align: center;
    border: none;
    z-index: 2;
}
.footer {
    background-color: #002E5D;
    color: white;
    bottom: 5px;
    left: 705px;
    right: 700px;
    height: 25px;
    position: fixed;
    z-index: 1;
    text-align: center;
    z-index: 1;
}

.new {
    background-color: #0062B8 ;
    align-items: center;
    display: inline-block;
    margin-top: 30px;
    margin-right: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 100px; 
    border: solid #002E5D;
}
#pot {
     display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px; 
    border: solid black;
    background-color: #0062B8;
    margin-left: 40%;

}    
ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 50px;
}
ul {
    margin: 15px;
}
.yup {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}
